.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background: linear-gradient(to bottom right, #a2e0f154 0%, #a3aff476 100%);
}
